<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Tienda</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="jquery-3.4.1.min.js"></script>

</head>
<style>
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }
    .nav1 {
        background-image: url("https://i.ibb.co/tY7B5gR/banner2.png");
        background-repeat: revert;
    }
    form label {
        color: white;
        font-weight:bold;
        padding: 8px;
    }
    body {
        background-image: url("https://wallup.net/wp-content/uploads/2018/09/27/12847-abstract-placebo-blurred.jpg");
    }
    .container{
        width: 100% ;
        margin-top: 10%;
        font-family: sans-serif;
        letter-spacing: 1px;
    }
    .container h2{
        background: #9b1fcc;
        color: #fff;
        width: 100% ;
        font-size: 24px;
        padding: 5px;
        height: 40px;
    }
    .container h2::after{
        content: '';
        border-top: 40px  solid #9b1fcc;
        border-right: 40px  solid transparent;
        position: relative;
        left: 48px;
        top: 34px;
    }
    .row{
        margin-top: 30px;
    }
    .product-bottom .fa{
        color: #28a745;
        font-size: 10px;
    }
    .product-bottom h3{

        font-size: 20px;
        font-weight: bold;
    }
    .product-bottom h5{

        font-size: 15px;
        padding-bottom: 10px;
    }
    .overlay{
        display: block;
        opacity: 0;
        position: absolute;
        top: 10%;
        margin-left: 0;
        width: 70px;
    }
    .product-top:hover .overlay{
        opacity: 1;
        margin-left: 5%;
        transition: 0.5s;
    }
    .left{
        margin-left: 80%;
    }
    .btnxd{
        margin: 5px;
    }
    #responsive-image {  width: 100%;   }
</style>
<body>
<!-- Barra de navegacion-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark nav1">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">
            <img src="https://media.fontis.com.au/media/cms/page/akeneo.png"
                 width="90" height="90" alt="ropa">
        </a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 justify-content-center">
            <li class="nav-item active">
                <a class="nav-link" >COMPRA EL VESTIDO QUE NECESITAS<span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <div class="my-2 my-lg-0">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button"
                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    !Hola! Bienvenida de nuevo <b><%= username %></b>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/usuario/editarUsuario/<%=username.toLowerCase()%>">Editar mi perfil</a>
                    <a class="dropdown-item" href="/usuario/logout">Cerrar sesión</a>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- Carrusel -->
<div class="container1">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto nav-tabs">
                <li class="nav-item active">
                    <a class="navbar-brand" href="#"><b>ZINJO</b></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/home/principal">Inicio<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/tienda/tienda">Tienda</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/vestido/registrar/<%=username.toLowerCase()%>">Vender</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/ventas/misventas">Mis ventas</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/tienda/contacto">Contáctanos</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div>
    <span>
        <p></p>
        <p></p>
    </span>
</div>

<div class="container">
    <h2>Tienda</h2>
    <div class="row">
        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <div class="modal-header">
                    <h2>Confirmación</h2>
                </div>
                <div class="modal-body">
                    <p>¿Desea comprar el vestido seleccionado?</p>
                </div>
                <div class="row left">
                    <button class="btn btn-dark btnxd" id="btnCancelar">Cancelar</button>
                    <button class="btn btn-primary btnxd" id="btnComprar">Confirmar</button>
                </div>
            </div>

        </div>

        <%vestidos.forEach(
        (it)=>{
        %>
        <div class="col-md-3">
            <div class="product-top">
                <img id="responsive-image" src="<%=it.imagenVestido%>"  height="300" width="180"  >
                <div class="overlay">
                    <button type="button" class="btn btn-secondary" title="Compra Rapida" onclick="mostratModal(this,<%=it.precio%>,<%=it.id%>)"><i id="btnConfirmar" class="fa fa-shopping-cart"></i></button>
                </div>
            </div>
            <div class="product-bottom text-center">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <h3><%=it.color%></h3>
                <h3><%=it.estado%></h3>
                <h5>Precio $ <%=it.precio%></h5>
            </div>
        </div>
        <%})%>

    </div>
</div>

<script>
    function comprar(id){
        const http = new XMLHttpRequest();
        const url = "http://localhost:3000/tienda/comprar/"+id;
        http.onreadystatechange = function(){
            if(this.readyState=== XMLHttpRequest.DONE){
                alert("Compra Exitosa");
                location.reload();
            }
        }
        http.open('POST',url,true);
        http.send();
    }
    function mostratModal(element,precio,id){
        var modal = document.getElementById("myModal");
        var btn = document.getElementById("btnComprar");
        btn.setAttribute('onclick','comprar('+id+')');
        modal.style.display="block";
    }
    // Get the modal
    var modal = document.getElementById("myModal");
    // Get the button that opens the modal
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    var cancelar =document.getElementById('btnCancelar');
    // When the user clicks the button, open the modal
    btn.onclick = function() {
        debugger;
        modal.style.display = "block";
    }
    cancelar.onclick = function(){
        modal.style.display="none";
    }
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
</body>
</html>
