<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<style>

    .nav1 {
        background-image: url("https://i.ibb.co/tY7B5gR/banner2.png");
        background-repeat: revert;
    }

    form label {
        color: white;
        font-weight: bold;
        padding: 8px;
    }

    body {
        background-image: url("https://wallup.net/wp-content/uploads/2018/09/27/12847-abstract-placebo-blurred.jpg");
    }

    .maxW {
        width: 100%;
        display: block;
    }

    .boton-sin-seleccion {
        color: white;
        margin: 0 auto;
        cursor: pointer;
        text-align: center
    }


</style>
<body>
<!-- Barra de navegacion-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark nav1">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">
            <img src="https://media.fontis.com.au/media/cms/page/akeneo.png"
                 width="90" height="90" alt="ropa">
        </a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 justify-content-center">
            <li class="nav-item active">
                <a class="nav-link">VENDE TU VESTIDO AQUÍ Y AHORA<span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <div class="my-2 my-lg-0">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button"
                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    !Hola! Bienvenida de nuevo <b><%= username %></b>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/usuario/editarUsuario/<%= username.toLowerCase() %>">Editar mi
                        perfil</a>
                    <a class="dropdown-item" href="/usuario/logout">Cerrar sesión</a>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- Carrusel -->
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto nav-tabs">
                <li class="nav-item active">
                    <a class="navbar-brand" href="#"><b>ZINJO</b></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/home/principal">Inicio<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Tienda</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/vestido/registrar">Vender</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="ventas/misventas">Mis ventas</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div>
    <span>
        <p></p>
        <p></p>
    </span>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-7">
            <div class="form-group row">
                <label for="id" class="form-control-label col-sm-10 boton boton-sin-seleccion text-box"
                       id="lb-imagen"><img
                            src="https://images.vexels.com/media/users/3/142827/isolated/lists/98e256ca2935093c9082795b3659e3f7-stroke-dress.png"/></label>
                <div class="col-sm-9" style="margin-left: 10px">
                    <input id="id"
                           name="id"
                           type="file"
                           accept="image/*"
                           hidden
                           onchange="validarArchivos()">
                </div>
            </div>
            <div class="imgPreview text-box">
                <img id="imgMuestra" src="" class="maxW">
            </div>
        </div>
        <form action="/vestido/editar/<%= valor.id %>" method="post">
            <div class="form-group row">
                <label for="talla" class="col-sm-2 col-form-label">Talla</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="talla" id="talla" value="<%= valor.talla %>">
                </div>
            </div>
            <div class="form-group row">
                <label for="color" class="col-sm-2 col-form-label">Color</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="color" id="color" value="<%= valor.color %>">
                </div>
            </div>
            <div class="form-group row">
                <label for="estado" class="col-sm-2 col-form-label">Estado</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="estado" id="estado" value="<%= valor.estado %>">
                </div>
            </div>
            <div class="form-group row">
                <label for="precio" class="col-sm-2 col-form-label">Precio</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="precio" id="precio" value="<%= valor.precio %>">
                </div>
            </div>


            <div class="form-group row">
                <label for="descripcion" class="col-sm-2 col-form-label">Descripción</label>
                <br>
                <br>
                <div class="col-sm-12">
                    <input type="text" class="form-control" name="descripcion" id="descripcion" value="<%= valor.descripcion %>">
                </div>
            </div>




            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="button" class="btn btn-danger" href="/home/principal">Cancelar</button>
                    <button type="submit" value="Submit" class="btn btn-success">Vender Vestido</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    function validarArchivos() {
        const archivo = document.getElementById('imagenComic');
        console.log(archivo.files);
        const boton = document.getElementById("lb-imagen");
        if (archivo.files.length > 0) {
            boton.classList.remove("boton-sin-seleccion");
            boton.classList.add("boton-seleccionado");
            boton.innerText = "Imagen seleccionada";
            const file = archivo.files[0];
            const reader = new FileReader();
            reader.onload = (eventoLecturaArchivo => {
                const url = eventoLecturaArchivo.target.result;
                console.log(url);
                const imagenMuestra = document.getElementById('imgMuestra');
                imagenMuestra.src = url;
            });
            reader.readAsDataURL(file);
        } else {
            boton.classList.remove("boton-seleccionado");
            boton.classList.add("boton-sin-seleccion");
            boton.innerText = "Subir imagen";
        }
    }
</script>
</body>
</html>
